/* contenedor header */
$circulo: 500px;

.circle {
  margin-top: 3%;
  margin-bottom: 3%;
}

body .circle .text-content{
  @media all and (max-width: 767px){
    font-size: 12px;
  }@media all and (min-width: 768px) and (max-width: 1023px){
    font-size: 13px;
  }
}

.text-circle{
  //background-color: #fff2de;
  //border: 1px solid #af4e4e;
  border-radius: 10%;
  color: black;
  font-weight: bold;
  padding: 1%;
}

#outer-circle .popover-header {padding:3%;background: #f9e4c5;}
.popover-title {color: black;font-weight: bold;font-size: 16px; text-align: center;
  margin:0;padding:0;border:none;background-color:transparent;}
.ppover {text-align: center;cursor: pointer;}
#outer-circle .ppover:hover {background-color: #f9e4c5;border-radius: 10%;}

$cr-max: 1.2;
$cr-normal: 1;
$cr-1024: .8;
$cr-580: .6;

#outer-circle {
  background: linear-gradient(to right, #f4c882 50%, #ffdb92 50%);
  border-radius: 50%;
  height: $circulo;
  width: $circulo;
  position: relative;

  @media all and (min-width: 580px) {
    height: $circulo*$cr-580;
    width: $circulo*$cr-580;
  }
  @media all and (min-width: 1024px) {
    height: $circulo*$cr-1024;
    width: $circulo*$cr-1024;
  }
  @media all and (min-width: 1200px) {
    height: $circulo*1;
    width: $circulo*1;
  }
  @media all and (min-width: 1440px) {
    height: $circulo*$cr-max;
    width: $circulo*$cr-max;
  }

  //border: solid 2px white;

  #inner-circle {
    $size-inner: 1.7; //con respecto al mayor
    position: absolute;
    background: linear-gradient(to bottom, #de8787 50%, #d67878 50%);
    border-radius: 50%;
    height: $circulo/$size-inner;
    width: $circulo/$size-inner;

    @media all and (min-width: 580px) {
      height: $circulo*$cr-580/$size-inner;
      width: $circulo*$cr-580/$size-inner;
    }
    @media all and (min-width: 1024px) {
      height: $circulo*$cr-1024/$size-inner;
      width: $circulo*$cr-1024/$size-inner;
    }
    @media all and (min-width: 1200px) {
      height: $circulo*$cr-normal/$size-inner;
      width: $circulo*$cr-normal/$size-inner;
    }
    @media all and (min-width: 1440px) {
      height: $circulo*$cr-max/$size-inner;
      width: $circulo*$cr-max/$size-inner;
    }

    //border: solid 2px white;
    /*
     Put top edge and left edge in the center
    */
    top: 50%;
    left: 50%;
    margin: $circulo/(2*$size-inner)*-1 0px 0px $circulo/(2*$size-inner)*-1;

    @media all and (min-width: 580px) {
      margin: ($circulo*$cr-580)/(2*$size-inner)*-1 0px 0px ($circulo*$cr-580)/(2*$size-inner)*-1;
    }
    @media all and (min-width: 1024px) {
      margin: ($circulo*$cr-1024)/(2*$size-inner)*-1 0px 0px ($circulo*$cr-1024)/(2*$size-inner)*-1;
    }
    @media all and (min-width: 1200px) {
      margin: ($circulo*$cr-normal)/(2*$size-inner)*-1 0px 0px ($circulo*$cr-normal)/(2*$size-inner)*-1;
    }
    @media all and (min-width: 1440px) {
      margin: ($circulo*$cr-max)/(2*$size-inner)*-1 0px 0px ($circulo*$cr-max)/(2*$size-inner)*-1;
    }
    /*
     Offset the position correctly with
     minus half of the width and minus half of the height
    */
  }

  #inner-inner-circle {
    $size-inner-inner: 3.5;
    position: absolute;
    background: linear-gradient(to right, #efbb8b 50%, #e5ac80 50%);
    border-radius: 50%;
    //border: solid 2px white;
    height: $circulo/$size-inner-inner;
    width: $circulo/$size-inner-inner;

    @media all and (min-width: 580px) {
      height: $circulo*$cr-580/$size-inner-inner;
      width: $circulo*$cr-580/$size-inner-inner;
    }
    @media all and (min-width: 1024px) {
      height: $circulo*$cr-1024/$size-inner-inner;
      width: $circulo*$cr-1024/$size-inner-inner;
    }
    @media all and (min-width: 1200px) {
      height: $circulo*$cr-normal/$size-inner-inner;
      width: $circulo*$cr-normal/$size-inner-inner;
    }
    @media all and (min-width: 1440px) {
      height: $circulo*$cr-max/$size-inner-inner;
      width: $circulo*$cr-max/$size-inner-inner;
    }
    /*
     Put top edge and left edge in the center
    */
    top: 50%;
    left: 50%;
    //margin: $circulo/(2*$size-inner-inner)*-1 0px 0px $circulo/(2*$size-inner-inner)*-1;

    @media all and (min-width: 580px) {
      margin: ($circulo*$cr-580)/(2*$size-inner-inner)*-1 0px 0px ($circulo*$cr-580)/(2*$size-inner-inner)*-1;
    }
    @media all and (min-width: 1024px) {
      margin: ($circulo*$cr-1024)/(2*$size-inner-inner)*-1 0px 0px ($circulo*$cr-1024)/(2*$size-inner-inner)*-1;
    }
    @media all and (min-width: 1200px) {
      margin: ($circulo*$cr-normal)/(2*$size-inner-inner)*-1 0px 0px ($circulo*$cr-normal)/(2*$size-inner-inner)*-1;
    }
    @media all and (min-width: 1440px) {
      margin: ($circulo*$cr-max)/(2*$size-inner-inner)*-1 0px 0px ($circulo*$cr-max)/(2*$size-inner-inner)*-1;
    }
    /*
     Offset the position correctly with
     minus half of the width and minus half of the height
    */
  }

  //medio
  .academicos {
    position: absolute;
    top: 47%;
    left: 40%;
  }
  //internos
  .asesores {
    position: absolute;
    top: 24%;
    left: 32%;
  }
  .calidad {
    position: absolute;
    top: 45%;
    left: 65%;
  }
  .estudiantes {
    position: absolute;
    top: 67%;
    left: 40%;
  }

  //segundos
  .relaciones {
    position: absolute;
    top: 3%;
    left: 37%;
  }

  .marketing {
    position: absolute;
    top: 25%;
    left: 73%;
  }

  .liderazgo {
    position: absolute;
    top: 70%;
    left: 73%;
  }

  .administradores {
    position: absolute;
    top: 87%;
    left: 34%;
  }

  .recursos {
    position: absolute;
    top: 70%;
    left: 10%;
  }

  .desarrollo {
    position: absolute;
    top: 20%;
    left: 7%;
  }

  //externos
  .egresados {
    position: absolute;
    top: 82.5%;
    left: -15%;
  }
  .cuerpos {
    position: absolute;
    top: 45%;
    right: -26%;
  }
  .redes {
    position: absolute;
    top: 45%;
    left: -26%;
  }
  .mundo {
    position: absolute;
    top: 10%;
    left: -9%;
  }
  .expertos {
    position: absolute;
    top: 10%;
    right: -10%;
  }
  .colaboradores {
    position: absolute;
    top: 80%;
    right: -20%;
  }

}