/*general y nav-bar*/

body {font-family: Lato !important;padding-top: 50px;}
section {padding-top: 30px;padding-bottom: 30px;}
html {font-family: Lato !important;}

.container {padding-left: 200px;padding-right: 200px;}

.titulo {padding-bottom: 3%;}

/* nav-bar*/
#titulo-pagina {

  @media all and (min-width: 580px) {
    margin-top: 2px;
  }
  @media all and (min-width: 768px) {
    margin-top: 10px;
  }
  font-style: normal;
  //font-size: 30px;
}

.contenedor-idiomas {
  background-color: #FFFFFF;
  height: 55px;
  z-index:9999;
  //overflow:hidden;
  //#titulo-pagina{
  //  @media all and (min-width: 580px){
  //    font-size: 18px;
  //  }
  //}

  .identidad-div {
    height: 100%;
    //width: auto;
    .codaes-logo {
      height: 100%;
      width: auto;
      margin: 0;
      padding: 0;
      float: right;
    }
    .img-logo {
      padding-top: 2.5%;
      margin-top: 2.5%;
      height: 95%;
      width: auto;
    }
  }

  .container-banderas {
    height: 100%;
    max-height: 100%;
    //margin-top: 0px;
    //float: right;
    //text-align: right;

    .contenido-uni {
      height: 30%;
      //max-height: 30%;
      margin: 0;
      padding: 0;
      #titulo-universidad {
        margin-right: 5% !important;
        background-color: #000000 !important;
        color: #FFFFFF !important;
        font-size: 13px !important;
        font-family: Arial !important;
        padding: 1% 1% !important;
      }
    }

    .banderas {
      height: 40%;
      margin: 2%;
      padding: 0;
      margin-top: 3%;
      text-align: right;
      //text-align: right;
      //.bandera1 {
      //  padding: 0 auto;
      //  margin: 0 auto;
      //  height: 100%;
      .b1-container {
        margin-right: 3% !important;
        height: 100%;
        width: auto;
        display: inline-block;
        //float: right;
        .flag1 {
          margin: 2%;
          height: 90%;
          width: auto;
        }
        //}
      }

      //.bandera2 {
      //  padding: 0 auto;
      //  margin: 0 auto;
      //  height: 100%;
      .b2-container {
        margin-right: 7% !important;
        height: 100%;
        width: auto;
        display: inline-block;
        .flag2 {
          margin: 2%;
          height: 90%;
          width: auto;
        }
      }
      //}
    }
  }
}

.titulo-universidad {
  //margin-right: 5% !important;
  background-color: #000000 !important;
  color: #FFFFFF !important;
  font-size: 13px !important;
  font-family: Arial !important;
  padding: 1% 1% !important;
}

//.codaes-logo {
//  padding-top: 3px;
//  margin-top: 3px;
//  height: 100%;
//  width: 100%;
//  float: right;
//}

.img-responsive.img-center {
  margin: 0 auto;
  float: right;
}

.banderas {
  margin-left: 20%;
}

/* Left bar */
#social_side_links {
  position: fixed;
  top: 35%;
  left: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
}

.left-items {
  background-color: #d8d8d8;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 3px;
  padding: 6px;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;

  @media all and (min-width: 580px) {
    font-size: 20px;

  }
  @media all and (min-width: 1024px) {
    font-size: 35px;
  }
}

.enlaces-izq,.enlaces-izq:visited,.enlaces-izq:hover,.enlaces-izq:link,.enlaces-izq:active{
  text-decoration:none; color:black;}

#icon-home{margin-bottom: 13% !important;}

.left-items:hover {
  background-color: #ffdb7d;
}

.tema-selected {
  background-color: #C444F5;
}

/* Hover tooltips */
.field-tip {
  position: relative;
  cursor: pointer;
}

.field-tip .tip-content {
  position: absolute;
  top: 5px; /* - top padding */
  right: 9999px;
  width: 80px;
  margin-right: -90px; /* width + left/right padding */
  padding: 10px;
  color: #fff;
  background: #333;
  -webkit-box-shadow: 2px 2px 5px #aaa;
  -moz-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

/* <http://css-tricks.com/snippets/css/css-triangle/> */
.field-tip .tip-content:before {
  content: ' '; /* Must have content to display */
  position: absolute;
  top: 50%;
  left: -16px; /* 2 x border width */
  width: 0;
  height: 0;
  margin-top: -8px; /* - border width */
  border: 8px solid transparent;
  border-right-color: #333;
}

.field-tip:hover .tip-content {
  right: 0; //pegado
  opacity: 1;
}

// termina hover tooltips

#social_side_links li a {
  display: block;
}

#social_side_links li a img {
  display: block;
  max-width: 40px;
  padding: 10px;
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

#social_side_links li a:hover img {
  background: rgba(0, 0, 0, .2);
}

/*Right nav-bar*/
#right-bar.sticky-container {
  padding: 0px;margin: 0px;right: -130px;
  position: fixed;

  @media all and (min-width: 580px) {top: 40%;}
  @media all and (min-width: 1024px) {top: 45%;}

  width: 200px;z-index: 100;
}

#right-list.sticky li {list-style-type: none;cursor: pointer; margin-bottom: 1%;}
.elemento-activo {background-color: #C444F5 !important; width: 18px !important; height:18px !important; margin-left: -1px;} //new
.right-icons{display: inline-block;position: relative;
  width: 15px;height: 15px;border-radius: 50%; background-color: #d8d8d8; border: 1px solid white;} //new
.right-icons,.right-icons:visited,.right-icons:hover,.right-icons:link,.right-icons:active{text-decoration:none;}

h1 {font-size: 30px;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}

.text-content {font-size: 18px;}
.text-small {font-size: 16px;}
.text-mini {font-size: 14px;}

.p-container {margin-top: 2%;}

.black {color: black;}
.white {color: white;}
.bold {font-weight: bold;}

/*pie*/

.pie {padding-top: 5px;padding-bottom: 5px;background-color: #FFFFFF;}

.img-pie-container {
  .img-fluid {
    width: 100%;
    height: 100%;
  }
}

.pie .container {
  height: 200px;
}

.pie-pagina {
  padding-top: 20px;
  padding-bottom: 0;
}

/* descargar pdf */

/*# descargar pdf */

// descargar, último bloque

.descargar-info {
  //height: 20vh;
  background-color: #d8d8d8;
}

.descargar-container {
  //margin-top: 5%;
  //margin-bottom: 5%;
}

.descargar {
  color: #000;
  border: 3px solid #C444F5;
  border-radius: 4pt;
  display: inline-block;
  padding-left: 1%;
  font-size: 16px;
}

.semibold{font-weight: 500;}

.tdescMob {
  width: 90%;
  margin-left: 40pt;
  @media all and (max-width: 374px){margin-left:26pt;}
}
.tpasarMob{margin-left: 10pt; @media all and (max-width: 374px){margin-left:0pt;}}

@media all and (min-width: 200px) and (max-width: 579px){
  .descargar-container {
    margin-top: 3%;
  }
}

.btn{border:0px !important;}

.btn-codaes {
  background: #C444F5;
  color: #ffffff;
  border-radius: 0;
  padding: .5rem;
  margin-left: 40pt;
}

.descargar:hover .btn-codaes, .btn-codaes:hover, .btn-codaes:focus, .btn-codaes:active, .btn-codaes.active, .open > .dropdown-toggle.btn-codaes {
  background: #ffdb7d;
  color: #C444F5;
}

.btn-codaes:active, .btn-codaes.active {
  background: #8a8a8a;
  color: #ffffff;
  box-shadow: none;
}

.sombras{
  -webkit-box-shadow: 1px 2px 13px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 13px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 13px 1px rgba(0,0,0,0.75);
}

.video-container {
  //margin-top:3%;margin-bottom: 3%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.descripcion-titulo {
  @media all and (min-width: 200px) {font-size: 18px;}
  @media all and (min-width: 1024px) {font-size: 20px;}
  @media all and (min-width: 1200px) {font-size: 25px;}
  @media all and (min-width: 1440px) {font-size: 30px;}
}

.instruccion-icono {
  position: absolute;
  font-size: 20px;
  margin-top:-.5% !important;
  //vertical-align: middle;

  @media all and (min-width: 200px) {
    margin-top: 1%;
    margin-left: -5.5%;
    font-size: 15px;
  }@media all and (min-width: 580px) {
      margin-top: 1%;
      margin-left: -4%;
      font-size: 15px;
  }@media all and (min-width: 768px) {
    margin-left: -4%;
    font-size: 15px;
  }@media all and (min-width: 1024px) {
    margin-left: -5%;
    font-size: 20px;
  }@media all and (min-width: 1200px) {
    margin-top: 0%;
    margin-left: -4%;
    font-size: 25px;
  }
}

.instruccion {display: inline;}

.icono-pasar{
  @media all and (min-width: 200px) {font-size: 20px; margin-left:0px;}
  @media all and (min-width: 768px) {  font-size: 20px;}
  @media all and (min-width: 1024px) {font-size: 23px;}
  @media all and (min-width: 1200px) {font-size: 28px;}
  @media all and (min-width: 1440px) {font-size: 32px;}
}

@media all and (min-width: 200px) { //opcional
}

@media all and (min-width: 375px) {}

@media all and (min-width: 425px) {}

@media all and (min-width: 580px) {
  body .text-content {font-size: 16px;}
  body .text-small {font-size: 14px;}
  body .text-mini {font-size: 12px;}

  body h1 {font-size: 25px;}
  body h2 {font-size: 20px;}
  body h3 {font-size: 18px;}
  body h4 {font-size: 16px;}


  body .pie {font-size: 12px;}

  body .icono-contenido {font-size: 25px;}
  //body .icono-contenido {font-size: 30px;}

  .container {padding-left: 50px;padding-right: 50px;}
}

@media all and (min-width: 768px) {
  body h1 {font-size: 24px;}

}

@media all and (min-width: 1024px) {
  body .text-content {font-size: 16px;}
  body .text-small {font-size: 14px;}
  body .text-mini {font-size: 12px;}

  body h1 {font-size: 25px;}
  body h2 {font-size: 20px;}
  body h3 {font-size: 18px;}
  body h4 {font-size: 16px;}

  body .icono-contenido {font-size: 30px;}

  body .pie {font-size: 12px;}

  //.container {padding-left: 100px;padding-right: 100px;}
}

@media all and (min-width: 1200px) {
  body .text-content {font-size: 18px;}
  body .text-small {font-size: 16px;}
  body .text-mini {font-size: 14px;}

  body h1 {font-size: 30px;}
  body h2 {font-size: 25px;}
  body h3 {font-size: 20px;}
  body h4 {font-size: 18px;}

  .container {padding-left: 150px;padding-right: 150px;}

  body .icono-contenido {font-size: 40px;}
  body .pie {font-size: 14px;}
}

@media all and (min-width: 1440px) {
  body .text-content {font-size: 22px;}
  body .text-small {font-size: 20px;}
  body .text-mini {font-size: 18px;}

  body h1 {font-size: 35px;}
  body h2 {font-size: 30px;}
  body h3 {font-size: 25px;}
  body h4 {font-size: 22px;}

  body .icono-contenido {font-size: 45px;}
  body .pie {font-size: 18px;}

  .container {padding-left: 50px;padding-right: 50px;}
}


//VERSIÓN MÓVIL

@media all and (max-width: 374px){
  #titulo-pagina{font-size:17px !important;}
}

@media all and (min-width: 200px) and (max-width: 579px){
  #social_side_links,#right-bar{display:none;}

  body{padding-top:0;}
  .container {padding-left: 10px;padding-right: 10px;}

  body .text-content {font-size: 16px;}
  body .text-small {font-size: 14px;}
  body .text-mini {font-size: 12px;}

  body h1 {font-size: 25px;}
  body h2 {font-size: 20px;}
  body h3 {font-size: 18px;}
  body h4 {font-size: 16px;}


  body .pie {font-size: 12px;}

  body .icono-contenido {font-size: 25px;}

  //barra de navegación
  .container-banderas{display:none;}
  #titulo-pagina{font-size:18px;}
  .navbar-fixed-top{position: inherit !important;margin-bottom: 0;padding-bottom: 0;}
  .identidad-div{margin-left:2%;padding-right: 0;}
}

@media all and (min-width: 580px){
  #dropdown{display:none;}
  .botones-temas{display:none;}
}

.icon-menu{
  padding-right: 2%;font-size:20px;color:#C444F5;
}

@media all and (max-width: 579px){
  .submenu {.icon-informacion{font-size:16px !important;}}
}

@media all and (min-width: 200px) and (max-width: 579px){
  #hero,#services{display:none;}
  #bg-students,#bg-coffee{display:none;}
  .caption1{position: relative !important; padding: 0px 15px;}
  .tarjetas-temas{display:none;}

  #competencia .caption1{position:absolute !important; top:10%;}
  .competencia-tema2 .caption1{top:20% !important;}
  #competencia{padding-top:0px !important; padding-bottom:0px !important;}
  .bloque-competencia{background-color: #C444F5; padding:0;margin:0; border:0;} //color antes: 0757a0
}

@media all and (min-width: 580px){
  #competencia{display:none;}
}

#bg-competencia {
  opacity: .15; overflow: hidden;

  @media all and (min-width: 200px) {
    width: auto;
    height: 400px;
  }
  object-fit: cover;
  padding: 0; margin: 0;
}

.thumbnail1 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

@media all and (max-width: 579px){.mostrar-moviles{display:inline;} .ocultar-moviles{display:none;}}
@media all and (min-width: 580px){.mostrar-moviles{display:none;} .ocultar-moviles{display:inline;}}