@import url('https://fonts.googleapis.com/css?family=Material+Icons|Work+Sans:400,700,900');

//body{
//  overflow: hidden;
//}

$spin-duration: 2.5s;
$spin-easing: cubic-bezier(0,0.4,0.4,1.025);

$size: 400px;
$button-size: 12em;

$D: $size;
$R: $size*0.5;

.popover {
  background: #fff1d9;
}

.roulette-container{height: $size; margin-top:3%; position:relative;
  top:0;bottom:0;left:0;right:0;margin:auto;
  @media all and (min-width: 580px) and (max-width: 767px){margin-left:7.5%;}
  @media all and (min-width: 768px) and (max-width: 1023px){margin-left:20%;}
  @media all and (max-width: 579px){height:300px;width:300px;}
}
.roulette-over{height:100%;width:100%; position:absolute;border-radius:50%; z-index: 1000; display:none;}

.roulette{

  font-family: 'Work Sans', sans-serif;

  display: block;

  position: relative;
  width: $size;
  height: $size;

  @media all and (max-width: 579px){width:300px; height:300px;}
  //top: 50%; left: 0+$size/2;
  //margin-top: -1 * $size * .5;
  //margin-left: -1 * $size * .5;

  //@media all and (min-width: 768px) and (max-width: 1023px){margin-left:17%;}
  //@media all and (min-width: 1024px) and (max-width: 1999px){margin-left:-6.5%;}

  .shadow{
    display: block;
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    border-radius: 50%;
    box-shadow: 0 .3em 0 rgba(0,0,0,.25) inset;
  }
  .markers{
    display: block;
    position: absolute;
    top: -1px; left: -1px;
    right: -1px; bottom: -1px;
    overflow: hidden;
    border-radius: 100%;
    .marker{
      position: absolute;
      width: 0;
      height: 0;
      top: -1*$R; left: $R;
      transform-origin: 0% $D;
      border: 0 solid transparent;
    }
    .triangle{

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3em 0 3em 3em;
      border-color: transparent transparent transparent #007bff;
      position: absolute;
      border-left-color: #FFF;
      top: 43%;
      left: -1px;
      margin-top: -1em;
      filter: drop-shadow(0 0.25em 0 rgba(0, 0, 0, 0.25));

    }

  }
  .spinner{

    display: block;
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    border-radius: 50%;
    overflow: hidden;
    transform: rotateZ(0deg);
    /*performance boost*/
    backface-visibility: hidden;

    .item{

      position: absolute;
      width: 0;
      height: 0;
      top: -1*$R; left: $R;
      @media all and (max-width: 579px){
        top: -1*250px; left: 150px;
      }
      transform-origin: 0% $D;

      border: 0 solid transparent;

      .label{
        display: block;
        position: absolute;
        color: #FFF;
        font-weight: 800;
        top: 0;
        left: 0;
        white-space: nowrap;
        transform-origin: 0 0;
        font-size: .8em;

        i, .text{
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          font-size: 1em;
          text-indent: 0;
        }
        i{
          margin-right: 0.1em;
        }

      }
    }

  }

  .button{
    width: 5em;
    height: 5em;
    line-height:5em;
    top: 50%;
    left: 50%;
    margin-left: -2.5em;
    margin-top: -2.5em;
    font-weight: 800;
    z-index: 998;
    position: absolute;
    background: #FFF;
    border: none;
    border-radius: 100%;
    color: #999;
    outline: none;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 .4em 0 rgba(0,0,0,.25);;
    text-align: center;
    transition: transform 0.15s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .button:hover{
    color: inherit;
  }

  .button span{
    font-size: 1.6em;
    letter-spacing: -0.05em;
    //font-family: Latto;
  }

  &.busy .button{
    transform: scale(0.9);
    box-shadow: 0 .15em 0 rgba(0,0,0,.25);
    color: #999;
    cursor: default;
  }

}

/* CUSTOM LABELS */
.roulette{
  .spinner{

    .item[data-type="quiz"] .label{
      font-size: 1.5em;
    }

    .item[data-type="question"] .label{
      font-size: 1.3em;
      font-weight: 600;
    }

    .item[data-type="replay"] .label{
      .text{
        font-size: .6em;
        white-space: initial;
        width: 1em;
        text-align: center;
        line-height: 1.2;
      }
      i{
        font-size: 1.5em;
      }
    }

    .item[data-type="time"] .label{
      i{
        font-size: 1.5em;
      }
    }
  }
}