$h-video: 450px;

.hero {
  position: relative;
  width: 100%;
  height: $h-video;
  color: #fff;
  overflow: hidden;

  video {
    width: 100%;
    height: auto;

    @media all and (min-width: 580px) and (max-width: 767px){
      width: auto;
      height: 400px;
    }
  }

  .video-overlay {
    position: absolute;
    //top: 0px;
    //left: 0px;
    width: 100%;
    height: $h-video;
    background: rgba(88,72,251,1);
    background: -moz-linear-gradient(left, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(88,72,251,1)), color-stop(100%, rgba(243,68,228,1)));
    background: -webkit-linear-gradient(left, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    background: -o-linear-gradient(left, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    background: -ms-linear-gradient(left, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    background: linear-gradient(to right, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5848fb', endColorstr='#f344e4', GradientType=1 );
    opacity: 0.8;
    z-index: 1;
  }

  .video-wrap {
    position: absolute;
    width: 100%;
    height: $h-video;
    overflow: hidden;

    padding: 0;
    margin: 0;
    float: left;
  }
}

//.video-wrap video {
//    min-width: 100%;
//    min-height: 100%;
//}

//.bg-video {
//    height: auto;
//    width: 100%;
//    overflow-y: hidden;
//    z-index: -999;
//}

/*texto de competencia dentro de video*/
.hero-content {
  position: absolute;
  width: 100%;

  @media all and (min-width: 580px) {
    top: 25%;
  }
  @media all and (min-width: 768px) {
    top: 35%;
  }
  z-index: 5;
}

#tituloCompetencia {
  padding-bottom: 0;
  margin-bottom: 0;
  //font-size: 30px;
  //font-weight: bold;
}

#parrafoCompetencia {
  padding-top: 0;
  margin-top: 0;
  //font-size: 25px;
  //font-weight: normal;
  //font-style: normal;
}

.competencia {
  padding-bottom: 20px;
}

/*Segundo bloque de accesos a secciones*/
/*.contenedor-menus{*/
/*height: 100px;*/
/*}*/

#services {
  background-color: #f4f4f4;
  padding-top: 0;
  padding-bottom: 0;
}

.service-box:hover {
  text-decoration: none;
  color: #4F4FD7;
  //border-bottom: 3px solid #0056b3;
  box-shadow: 0 3px 0 #4F4FD7;
}

.sr-icons {
  color: #4F4FD7 !important;
}

.menu-icon {padding-top: 2%;padding-bottom: 2%}
.menu-icon:hover {cursor: pointer;}
@media all and (min-width: 580px) {.menu-icon {font-size: 30px;}}
@media all and (min-width: 1024px) {.menu-icon { font-size: 60px; }}
@media all and (min-width: 1200px) {.menu-icon { font-size: 70px; }}

#icon-informacion{
  @media all and (min-width: 1024px) {font-size:50px;}
  @media all and (min-width: 1200px) { font-size:60px; }
}

.text-blue {
  color: #4F4FD7;
  font-weight: bold;
}
.text-white {
  color: #FFFFFF !important;
}

/* imágenes de autores */

#autores {background-color: #4F4FD7;padding: 5% 0 5% 0;} //#9112A2
.infoAutores {padding: 5% 0 0 0;}
.infoContainer {padding-bottom: 3%;}
.fotos-autores {padding-top: 3%;}

.img-autor {width: 30%;border-radius: 50%;padding-left: 3%;padding-right: 3%;} //selected
.img-rounded {width: 20%;border-radius: 50%;padding-left: 3%;padding-right: 3%;}
.img-rounded:hover {cursor: pointer;}
.img-unselected {-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0*/ filter: grayscale(100%);opacity: 0.5;}

.img-selected {
  opacity: 1;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0*/
  filter: grayscale(0%);
  transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.separadorDiv {
  margin-top: 10px;
}

.separadorAutores {
  background-color: #C444F5;
  border-top: 3px dashed #C444F5;
  max-width: 50%;
}

.autor-arrows {
  padding-top: 50%;
  color: #C444F5;
  cursor: pointer;
}

.sintesis {
  text-decoration: underline;
  cursor: pointer;
}

//.accesos-secciones {
//  font-size: 18px;
//}

.modal-autor {
  margin-left: 5%;
  margin-right: 5%;
}

.descripcion {
  overflow-y: hidden;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#box-search {
  margin-right: 0;
}

.bloque-descripcion {
  margin: 0;
  padding: 0;
}

//#descripcion-container {
//  background-image: url("../images/students.jpg");
//  background-size: contain;
//  background-repeat: no-repeat;
//  width: 100%;
//  height: 0;
//  padding-top: 66.64%;
//}

#bg-students {
  opacity: .15;
  overflow: hidden;

  @media all and (min-width: 580px) {
    width: auto;
    height: 100%;
  }
  @media all and (min-width: 1024px) {
    width: 100%;
    height: auto;
  }
  object-fit: cover;

  padding: 0;
  margin: 0;
}

.bloque-descripcion {

  @media all and (min-width: 580px) {
    height: 730px;
  }
  @media all and (min-width: 1024px) {
    height: auto;
  }
}

.descripcionText {
  text-align: left;
  display: inline;
  font-weight: bold;
  padding-left: 1%;
}

.descripcionContenido {
  margin-top: 5%;
}

.descripcionTitulo {
  margin-bottom: 2%;
}

.thumbnail {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

.icono-descripcion {
  position: relative;
  top: -5px;
  width: 30px;
  height: auto;
  text-align: right;
  display: inline;
}

.caption1 {
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  height: 100%;

  @media all and (min-width: 1200px) {top: 7%;}
  @media all and (min-width: 1440px) {top: 0%;}
  @media all and (min-width: 1920px) {top: 5%}
}

/* bloque introducción */

#bg-coffee {
  opacity: .15;
  overflow: hidden;

  @media all and (min-width: 580px) {
    width: auto;
    height: 100%;
  }
  @media all and (min-width: 1024px) {
    width: 100%;
    height: auto;
  }
  object-fit: cover;

  padding: 0;
  margin: 0;
}

.bloque {
  @media all and (min-width: 580px) {height: 700px;}
  @media all and (min-width: 769px) {height: 600px;}
  @media all and (min-width: 1024px) {height: auto;}
  @media all and (min-width: 1200px) {height: 700px;}
  @media all and (min-width: 1440px) {}
  @media all and (min-width: 1920px) {height: 900px;}

}

.introduccion {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  //#arrow-introduccion{
  //  margin-top: 1%;
  //}
}

.bloque-intro {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #a03e99;
  opacity: 90;
}

/*bloque contenido */

.contenido-titulo {
  color: #FFFFFF;
}

.text-cyan {
  color: #17a2b8;
}

.contenido {
  background-color: #4F4FD7;
  //height: 750px;
}

.contenido-temas {
  margin-top: 10px;
}

.card {
  cursor: pointer;
  position: relative;
  border-radius: 10%;

  @media all and (min-width: 580px) {
    width: 140px;
    height: 301px;
  }

  @media all and (min-width: 768px) {
    width: 161px;
    height: 300px;
  }

  @media all and (min-width: 1024px) {
    width: 190px;
    height: 350px;
  }

  @media all and (min-width: 1200px) {
    width: 220px;
    height: 400px;
  }

  margin: 5rem auto;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#image1.image, #image2.image, #image3.image {
  height: 80%;

  @media all and (min-width: 580px) and (max-width: 1023px) {
    height: 55%;
  }

  border-radius: 10%;
  opacity: 1;
  background-image: url("../images/tema1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  z-index: 999;
}

.card:hover #image1.image, .card:hover #image2.image, .card:hover #image3.image {
  opacity: .5;
}

#image2.image {
  background-image: url("../images/tema2.jpg") !important;
}

#image3.image {
  background-image: url("../images/tema3.jpg") !important;
}

//#caption3.caption{
//  height: 130px !important;
//}
#caption1.caption, #caption2.caption, #caption3.caption {
  text-align: center;
  position: absolute;
  top: auto;
  bottom: 15%;
  opacity: 1;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  padding: 15px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  @media all and (min-width: 580px) and (max-width: 1023px) {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
}

#caption3.caption {bottom:20%;}

#caption3.caption{
  @media all and (min-width: 580px) and (max-width: 1023px) {
    -webkit-transform: translateY(50%) !important;
    transform: translateY(50%)!important;
  }

  @media all and (min-width: 1440px){
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
  }
}

.caption-title {
  margin-top: 0;
  margin-bottom: 15px;

  @media all and (min-width: 580px) and (max-width: 1023px){
      font-size: 16px !important;
      font-weight: bold;
  }
  //@media all and (min-width: 768px) and (max-width: 1023px){
  //    font-size:
  //}
}

.caption-content {
  margin: 0;

  @media all and (min-width: 580px) and (max-width: 1023px){
    font-size: 14px !important;
  }
}

.caption-link {
  color: #724b31;
  text-decoration: none;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}



/*
.card {
    font-size: 1em;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    cursor: pointer;
    width: 200px;
    height: auto;
}

.card-block {
    !*font-size: 1em;*!
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: .4;
}

.card:hover .card-img-top{
    opacity: 1;
}

.card-tema1:hover .card-block,.card-tema2:hover .card-block{
    !*para sobreponer bloque en imagen*!
    overflow: visible;
    margin-top: -35%;
    z-index: 2;
    background-color: #FFFFFF;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.descripcion2{
    display:none;
}
.card:hover .descripcion2{
    display: block;
}
*/

/*#div-tema1:hover{
    opacity: .8;
    display: none;
}

.card-11 {
    display: none; !important;
}

.card-1{
    opacity: .8;
}

.card-tema1:hover .card-1
{
    display: none; !important;
}

.card-tema1:hover .card-11 {
    display: block; !important;
}*/

/*------------------------------------------------------------------------------
*                              4. ESTILOS PIE DE PÁGINA
/*----------------------------------------------------------------------------*/
footer {
  background-color: #491217;
}

.txto-pie p {
  color: #000;
  padding-top: 3%;
  text-align: center !important;
}

/* colores de fondo*/
#contact {
  background-color: #ffeeba;
}

#competencia .caption1{position:absolute !important; top:20% !important;}

//#bg-competencia {
//  @media all and (min-width: 200px) {
//    width: auto;
//    height: 400px;
//  }
//  object-fit: cover;
//  padding: 0; margin: 0;
//}

@media all and (max-width: 1023px){
  .modal-header{ .row{margin-left: 10px; margin-right: 10px;}}
}