/* contenedor header */

.target-icono{
    color: #C444F5;
    position: absolute;

    @media all and (min-width: 200px){
        font-size: 18px;
        margin-left: -6%;
        margin-top: 0%;
    }
    @media all and (min-width: 580px){
        font-size: 23px;
        margin-left: -5%;
        margin-top: -1%;
    }
    @media all and (min-width: 768px){
        margin-top:2%;
    }
    @media all and (min-width: 1024px){
        font-size: 40px;
        margin-left: -7%;
        margin-top: 0;
        padding-top: 1%;
    }
    //@media all and (min-width: 1200px){
    //    font-size: 40px;
    //    margin-left: -7%;
    //    margin-top: 0;
    //    padding-top: 1%;
    //}
    @media all and (min-width: 1440px){
        margin-left: -5%;
    }
}
.dialog-icono{
    color: #C444F5;
    position: absolute;

    @media all and (min-width: 200px){
        font-size: 16px;
        margin-left: -6%;
        margin-top: 0%;
    }
    @media all and (min-width: 580px){
        font-size: 19px;
        margin-left: -5%;
        padding-top: 0%;
    }
    @media all and (min-width: 768px){
        margin-top:3%;
    }
    @media all and (min-width: 1024px){
        font-size: 40px;
        margin-top: 1%;
        margin-left: -7%;
    }
    @media all and (min-width: 1440px){
        margin-left: -5%;
    }
}


.ante-body{
    margin-top: 5%;
}

//enlaces

.enlace-practica:link{
    color:#C444F5;
    font-weight: bold;
    text-decoration: underline;
}
.enlace-practica:active{
    color:#C444F5;
}
.enlace-modal:hover{
    color:#C444F5;
}
.enlace-modal{
    color:#C444F5;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

iframe{ width: 90%; height: 400px; margin: 3% 0%; }

.e-rubrica1-v{
    display:none;
    @media all and (max-width:1023px){ display: inline }
}

.e-rubrica1{
    display:none;
    @media all and (min-width:1024px){ display: inline }
}

.e-rubrica2-v{
    display:none;
    @media all and (max-width:1023px){ display: inline }
}

.e-rubrica2{
    display:none;
    @media all and (min-width:1024px){ display: inline }
}

#rubrica1-v .tabla-modal,#rubrica1 .tabla-modal{margin: 0;padding: 0;}
#rubrica1-v .modal-body,#rubrica1 .modal-body{padding: 0;margin:0;}

.practicas {
    position: relative;
    width: 100%;
    min-height: 600px;
    background: rgba(88,72,251,1);
    background: -moz-linear-gradient(left, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(88,72,251,1)), color-stop(100%, rgba(243,68,228,1)));
    background: -webkit-linear-gradient(left, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    background: -o-linear-gradient(left, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    background: -ms-linear-gradient(left, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    background: linear-gradient(to right, rgba(88,72,251,1) 0%, rgba(243,68,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5848fb', endColorstr='#f344e4', GradientType=1 );
}

/*texto de competencia dentro de video*/
.hero-content {
    position: relative;
    top: 150px;
    z-index: 5;
}

#tituloCompetencia{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
#parrafoCompetencia{
    padding-top: 0;
    margin-top: 0;
    font-size: 25px;
    font-weight: normal;
    //font-style: normal;
    color: white;
}

.competencia{padding-bottom:20px;}

/* leer section */

#practica1{ background-color: #f4f4f4;}
#practica2{ background-color: #5450D3;}
#practica3{ background-color: #f4f4f4;}

.ante-titulo{
    font-size: 23px;
    font-weight: bold;
    color: black;
}

/* comprension section */

.ante-titulo{font-size: 25px;font-weight: bold;}

.comprension-titulo{
    color:white;
    font-size: 25px;
    font-weight: bold;
}
.parrafo-comprension{
    padding-top: 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: white;
}

.comprension-div{padding-top: 30px;}

/*niveles*/

.div-leon{
    margin: 3% 0;    background-color: #FFF1D9;
    div{.img-leon{width:100%; height:auto; margin-bottom:3%;}}
}


#ambito{background-color: #f4f4f4;}

/*bibliografia*/


.rubrica{font-size: 16px;}

@media all and (max-width: 579px){.descripcion-titulo{font-size:18px;}}

@media all and (max-width: 1199px){.congratz-container{margin-top: 3% !important;}}
.fa-graduation-cap{
    @media all and (max-width: 579px) {font-size: 18px !important;margin-left: 10pt !important;}
    @media all and (min-width: 580px) {font-size: 25px !important;margin-left: 20pt !important;}
    @media all and (min-width: 768px) {  font-size: 25px !important;}
    @media all and (min-width: 1024px) {font-size: 25px !important;}
    @media all and (min-width: 1200px) {font-size: 28px !important;}
    @media all and (min-width: 1440px) {font-size: 32px !important;}
}

#rubrica-table { th {} }

@media all and (max-width: 1023px){.mostrar-moviles-ruleta{display:inline;} .ocultar-moviles-ruleta{display:none;}}
@media all and (min-width: 1024px){.mostrar-moviles-ruleta{display:none;} .ocultar-moviles-ruleta{display:inline;}}