<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plantilla</title>

    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/iconos.css" type="text/css">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="css/style-tema3.css" rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/fonts-miranda.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="css/roulette.css">
    <link rel="stylesheet" href="css/questions.css">
    <link rel="stylesheet" href="css/dropdown-menu.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl" id="page-top">

<!-- Navigation -->
<nav id="navegacion" class="navbar navbar-fixed-top navbar-dark bg-navegador navbar-codaes">
    <div class="contenedor-idiomas">
        <div class="col-sm-2 col-xs-2 identidad-div">
            <div class="navbar-brand logo-codaes codaes-logo">
                <a href="index.html"><img style="cursor:pointer;" data-anchor="#page-top" class="image-responsive img-logo" src="images/identidad.png" alt="Leer y escribir en la educación superior"></a>
            </div>
        </div>

        <div class="col-sm-7 col-xs-6">
            <h1 id="titulo-pagina">Plantilla</h1>
        </div>

        <div id="dropdown" class="dropdown col-xs-2">
            <button onclick="myFunction()" class="dropbtn fa fa-align-justify" style="font-size:30px;"></button>
            <div id="myDropdown" class="dropdown-content">
                <a class="titulo-universidad text-center" href="https://www.uv.mx/" target="_blank"
                   alt="Ir a Universidad Veracruzana">
                    Universidad Veracruzana </a>

                <a href="#contenido">Contenido:</a>
                <a href="index.html" class="submenu"><i class="fa fa-home"
                                                        style="padding-right: 2%;font-size:20px;color:#C444F5;"></i>Inicio</a>
                <a href="tema1.html" class="submenu"><i class="icon-contenido icon-menu"></i>Tema 1</a>
                <a href="#" class="submenu"><i class="icon-contenido icon-menu"></i>Tema 2</a>
                <a href="ejercicio.html" class="submenu" style="background-color: #C444F5;color:white;"><i
                        class="icon-contenido icon-menu" style="color:white;"></i>Ejercicio</a>
            </div>
        </div>

        <div class="col-sm-3 col-xs-4 container-banderas">
            <div class="col-md-12 text-right contenido-uni">
                <a id="titulo-universidad" href="https://www.uv.mx/" target="_blank" alt="Ir a Universidad Veracruzana">
                    Universidad Veracruzana </a>
            </div>
        </div>
    </div>
</nav>

<!-- left bar-->
<ul id="social_side_links">
    <a class="enlaces-izq" href="index.html">
        <li class="field-tip" id="icon-home">
            <i class="icon-home left-items"></i>
            <span class="tip-content">Inicio</span>
        </li>
    </a>
    <a class="enlaces-izq" href="tema1.html">
        <li class="field-tip">
            <p class="left-items">1</p>
            <span class="tip-content">Tema 1</span>
        </li>
    </a>
    <a class="enlaces-izq" href="#">
        <li class="field-tip">
            <p class="left-items " href="tema2.html">2</p>
            <span class="tip-content">Tema 2</span>
        </li>
    </a>
    <a class="enlaces-izq" href="ejercicio.html">
        <li class="field-tip">
            <p class="left-items tema-selected" href="practicas.html">E</p>
            <span class="tip-content">Ejercicio</span>
        </li>
    </a>
</ul>

<!-- right bar -->
<div class="sticky-container" id="right-bar">
    <ul class="sticky" id="right-list">
        <li>
            <a class="right-icons elemento-activo" href="#hero1"></a>
        </li>
        <li>
            <a class="right-icons" href="#practica2"></a>
        </li>
       
    </ul>
</div>

<!--  Encabezado -->
<header class="practicas" id="hero1">
    <div class="container hero-content">
        
        <div class="col-sm-12 col-md-12 col-lg-12 ">
            <div class="text-left competencia">
                <h1 class="bold white animated fadeInDown top-bottom-borders">Lorem ipsum</h1>
            </div>
            <div class="text-left competencia">
                <p class="descripcion-titulo white">Quo numquam contentiones in. Vim insolens partiendo id. Vim ut wisi inimicus, doming conclusionemque ad his. Nibh laoreet singulis vix cu, vix at nonumy suavitate. Eius nemore accumsan ei eum, affert ceteros vivendo et vix. Verear omittam an eos, minim numquam per et. Ea nec vero denique voluptatum, affert quaerendum ut ius.
                </p>
            </div>
        </div>
    </div>
</header>

<section id="practica2">
    <div class="container">
        <div class="col-md-12">
            <h2 class="bold white titulo">Labores forensibus rationibus</h2>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="white text-content">
                Ea blandit praesent est, voluptatum dissentias nec te. Nisl integre rationibus quo et, mea veritus constituto te. Cu noster praesent euripidis nam, odio augue hendrerit no mea, eu mei verear admodum philosophia. Wisi civibus ea eam, his laudem facete oporteat ne, ne mei tantas recteque. Vim eu nobis nemore dignissim.
            </p>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <i class="icon-objetivo target-icono white"></i>
            <h3 class="bold white">Objetivo</h3>
            <p class="white text-content">
                Cu noster praesent euripidis nam, odio augue hendrerit no mea, eu mei verear admodum philosophia. Wisi civibus ea eam, his laudem facete oporteat ne, ne mei tantas recteque. Vim eu nobis nemore dignissim.
            </p>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <i class="icon-descripcionPracticas white dialog-icono" aria-hidden="true"></i>
            <h3 class="bold white">Labores forensibus rationibus</h3>
            <ol class="white text-content" style="padding-left:2%;">
                <li>Ea blandit praesent est, voluptatum dissentias nec te.
                </li>
                <li>Nisl integre rationibus quo et, mea veritus constituto te. Cu noster praesent euripidis nam, odio augue hendrerit no mea, eu mei verear admodum philosophia. Wisi civibus ea eam, his laudem facete oporteat ne, ne mei tantas recteque. Vim eu nobis nemore dignissim.
                </li>
            </ol>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="div-leon col-sm-12 col-md-12 col-lg-12">
                <div style="padding:5%;">
                    <img class="img-leon" src="images/leon.jpg"/>
                    <p class="black text-content bold">Ipsum ponderum eos an.</p>
                    <p class="black text-small">
                        Lorem ipsum dolor sit amet, ea mea euismod detracto, ne nostro veritus vim, cu bonorum molestie officiis nec. Eu sit malis everti, sit facer persius commune id, vitae vituperata quaerendum ei his. Usu te solum assueverit scribentur, eos tota mundi eripuit id. Usu causae pericula no, diam sensibus volutpat sea in. 
                        <br><br>
                        Volumus electram theophrastus qui an, nulla deseruisse ad mel, simul corpora definitiones mel et. His atqui audiam te, decore aliquando eu pro. Vix cu prima epicurei, unum tempor putant et mel, vim nusquam molestiae id. Eos ut error regione invidunt. Id prima novum placerat est.
                        <br><br>
                        Propriae posidonium ei usu, sea legere noluisse in. Maiorum detraxit disputationi nam ea. Vix hinc putent accusam at. No qui quidam mollis, vim choro meliore luptatum ut. Ridens disputando definitiones pro ei.
                        <br><br>
                        Quo numquam contentiones in. Vim insolens partiendo id. Vim ut wisi inimicus, doming conclusionemque ad his. Nibh laoreet singulis vix cu, vix at nonumy suavitate. Eius nemore accumsan ei eum, affert ceteros vivendo et vix. Verear omittam an eos, minim numquam per et. Ea nec vero denique voluptatum, affert quaerendum ut ius.
                        <br><br>
                        Vis alia persius imperdiet at, mea eu quando iriure audire, minim dicit discere ius ut. Ius ad eius malis, euripidis torquatos ex vel. Eu vis fabulas lobortis, integre definiebas eu vim. Dicat harum putant mea ad.
                    </p>
                </div>
            </div>

            <!-- SLIDES | SINGLE OPTION SELECTION | ADVANCE POSSIBLE AFTER ANSWER | RESPONSIVE PROGRESS BAR | PREV/NEXT WITH ARROW KEYS | NEXT WITH RETURN/ENTER KEY -->

            <div id="questions">
                <div class="question">
                    <div class="wrapper">
                        <h3>Labores forensibus rationibus</h3>
                    </div>
                    <div class="content">
                        <ol>
                            <li ng-repeat="respuesta in respuesta1" class="text-small">
                                <label ng-click="bandClick()">
                                    <input type="radio" ng-value="respuesta" ng-model="$parent.selected1">
                                    {{respuesta}}</label>
                            </li>
                        </ol>
                        <p class="text-mini paginacion">1/2</p>
                    </div>
                </div>

                <div class="question">
                    <div class="wrapper">
                        <h3>Labores forensibus rationibus</h3>
                    </div>
                    <div class="content">
                        <ol>
                            <li ng-repeat="respuesta in respuesta2" class="text-small">
                                <label ng-click="bandClick()">
                                    <input type="radio" ng-value="respuesta" ng-model="$parent.selected2">
                                    {{respuesta}}</label>
                            </li>
                        </ol>
                        <p class="text-mini paginacion">2/2</p>
                    </div>

                </div>
                
              
                <div class="question">
                    <div class="content">
                        <h3>Laboresrationibus</h3>
                        <br>
                        <table class="table table-bordered text-center text-small">
                            <tr style="background-color:#5B9BD5; color:white;">
                                <th class="text-center">1</th>
                                <th class="text-center">2</th>
                            </tr>
                            <tr style="background-color: #D2DEEF;">
                                <td>
                                    <i class="fa fa-check" ng-show="correctas[0]" style="color:green;"></i>
                                    <i class="fa fa-close" ng-show="!correctas[0]" style="color:red;"></i>
                                </td>
                                <td>
                                    <i class="fa fa-check" ng-show="correctas[1]" style="color:green;"></i>
                                    <i class="fa fa-close" ng-show="!correctas[1]" style="color:red;"></i>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <p class="text-mini">
                            Labores forensibus rationibus
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="buttons">
                <button type="button" class="btn btn-success text-small" id="next" ng-click="evaluar()" class="wide"
                        ng-disabled="bandera">
                    <span class="glyphicon glyphicon-chevron-right" style="padding-right: 2%;"></span>Siguiente
                </button>
                <button type="button" class="btn btn-warning text-small" id="restart" ng-click="reiniciar()"
                        class="wide">
                    <span class="glyphicon glyphicon glyphicon-repeat" style="padding-right: 2%;"></span>Reiniciar
                </button>
            </div>
            <!--retroalimentacion pregunta 1-->
            <div id="correcta1" class="modal modal-questions" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header correcta">
                            <h3 class="modal-title bold">Labores forensibus rationibus</h3>
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        </div>
                        <div class="modal-body">
                            <p class="text-small">Labores forensibus rationibus
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="incorrecta1" class="modal modal-questions" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header incorrecta">
                            <h3 class="modal-title bold">Incorrecto</h3>
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        </div>
                        <div class="modal-body">
                            <p class="text-small">Labores forensibus rationibus
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--retroalimentacion pregunta 2-->
            <div id="correcta2" class="modal modal-questions" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header correcta">
                            <h3 class="modal-title bold">Correcto</h3>
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        </div>
                        <div class="modal-body">
                            <p class="text-small">Labores forensibus rationibus
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="incorrecta2" class="modal modal-questions" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header incorrecta">
                            <h3 class="modal-title bold">Incorrecto</h3>
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        </div>
                        <div class="modal-body">
                            <p class="text-small">Labores forensibus rationibus
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="descargar-info">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-center descargar-container">
            <a href="documentos/ejercicio.pdf" target="_blank" class="">
                <div class="descargar" style="cursor:pointer; ">
                    <span class="bold text-center black text-content tdescMob">Descarga la información</span>
                    <i class="icon-pdf text-white sr-icons icono-contenido btn btn-codaes"></i>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-center descargar-container congratz-container">
            <a data-toggle="modal" data-target="#myModal">
                <div class="descargar" style="cursor:pointer; ">
                    <span class="text-center black text-content semibold tpasarMob"><span style="font-weight:900;">¡Felicidades!</span> Finalizaste el recurso</span>
                    <i class="fa fa-graduation-cap text-white sr-icons btn btn-codaes"></i>
                </div>
            </a>
        </div>
    </div>

    <div id="myModal" class="modal modal-questions" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header correcta" style="background-color: #C444F5;">
                    <button type="button" style="color:white; opacity:1; font-size: 30px;" class="close"
                            data-dismiss="modal">
                        &times;
                    </button>
                    <h3 class="modal-title bold">Felicidades</h3>
                </div>
                <div class="modal-body">
                    <p class="text-small" style="padding:3%;">
                        Ex eos sint soluta officiis, usu sonet voluptua phaedrum id. Porro tritani mandamus cum id, id tota oratio invenire per. Tollit omittam ius ei. Ne has sanctus expetenda explicari, pro ea graeci senserit, vim ea minim populo. Quo velit tractatos maiestatis te, mollis viderer eu sed. Ludus pericula sit ut, et dolorum albucius torquatos sea, ne simul nobis nec.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- jQuery library -->
<script src="js/jquery.min.js"></script>

<!--for roulette-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/nagivation-bars.js"></script>
<script src="js/video/video-questions.js"></script>
<script src="js/dropdown-js.js"></script>
<script>
    var popOpen = false;

    $('.ppover').click(function () {
        $(this).popover('toggle');
        popOpen = true;
    });

    $.fn.extend({
        popoverClosable: function (options) {
            var defaults = {
                template: '<div class="popover black">\
                            <div class="arrow"></div>\
                            <div class="popover-header">\
                            <button type="button" class="close" data-dismiss="popover" aria-hidden="true">&times;</button>\
                            <h3 class="popover-title"></h3>\
                            </div>\
                            <div class="popover-content"></div>\
                            </div>'
            };
            options = $.extend({}, defaults, options);
            var $popover_togglers = this;
            $popover_togglers.popover(options);
            $popover_togglers.on('click', function (e) {
                e.preventDefault();
                $popover_togglers.not(this).popover('hide');
            });
            $('html').on('click', '[data-dismiss="popover"]', function (e) {
                $popover_togglers.popover('hide');
            });
        }
    });

    $(function () {
        $('[data-toggle="popover"]').popoverClosable();
    });

    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });

    var width1 = screen.width;
    $(window).resize(function () {
        if (Math.abs(width1 - screen.width) > 100) {
            width1 = screen.width;
            location.reload();

            if (sessionStorage.scrollTop != "undefined") {
                $(window).scrollTop(sessionStorage.scrollTop);
            }
        }
    });

    window.addEventListener("orientationchange", function () {
        // Announce the new orientation number
        location.reload();

        if (sessionStorage.scrollTop != "undefined") {
            $(window).scrollTop(sessionStorage.scrollTop);
        }
    }, false);

    $(window).scroll(function () {
        sessionStorage.scrollTop = $(this).scrollTop();
    });
</script>
</body>
</html>